<p><strong>This is the first page you should be seeing!!</strong></p>

<p>This will serve as a practice ground for me to add new ellements</p>

<% friends.forEach((friend)=>{%>
    <li><%= friend%></li>
<%})%>

<form action="/addFriend" method ="POST">
    <input type="text" name = "newFriend" placeholder="Name">
    <button> Add new Friend!!!</button>
</form>
