<%- include("partials/header") %> 

<h1>This is the page about me!</h1>
<p>Hello my name is Junbo Joshua Kim</p>
<p>I was born in Korea but I was moved to Australia back in 2008 </p>
<p>So I am Australian Citizen with good english skills</p>

<%- include("partials/footer") %> 