<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Index</title>
</head>
<body>
    <h1>Comments</h1>

    <ul>
        <% for(let c of comment) { %>
            <li style="font-size: 24px; width: 100vw;"> 
                <%= c.comment %> - <span style="text-decoration:none; font-weight: 800; color: black; "><%= c.username %></span>
                <a href="/profile/<%- c.id %>" style=" color: black;">visit the profile</a> 
                <form action="/comments/<%= c.id%>?_method=DELETE" method="POST" style="display: inline-block;"> <button type="submit">delete</button></form>
            </li>
        <% } %> 
    </ul>

    <H1>Create New Heading</H1>
    <form action="/comments" method="POST">
        <section>
            <label for="username">User Name</label>
            <input type="text" name="username" id="username">
        </section>
        <section>
            <label for="comment">Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </section>

        <button type="submit">Submit</button>
    </form>
</body>
</html>