<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Index</title>
</head>
<body>
    <h1>Comments</h1>

    <ul>
        <% for(let c of comment) { %>
            <li> <%= c.comment %> - <b><%= c.username %></b> </li>
        <% } %> 
    </ul>

    <H1>Create New Heading</H1>
    <form action="http://localhost:3000/comments" method="POST">
        <section>
            <label for="username">User Name</label>
            <input type="text" name="username" id="username">
        </section>
        <section>
            <label for="comment">Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </section>

        <button type="submit">Submit</button>
    </form>
</body>
</html>